<div>
    <app-go-to-estimation-form></app-go-to-estimation-form>
    <h3>Select appropriate supplier for each item</h3>
    <app-supplier-list [items]="items" ></app-supplier-list>
    <div>
        <div>
            <form>
                <mat-checkbox name="agreement" [required]="true" (change)="checkTermsAndConditions($event)">
                    Agree with terms & conditions.
                </mat-checkbox>
                <mat-radio-group>
                    <mat-radio-button name="typeConvert"
                                      value="pdf"
                                      ngDefaultControl
                                      [(ngModel)]="typeConvert">
                        PDF
                    </mat-radio-button>
                    <mat-radio-button name="typeConvert"
                                      checked="true"
                                      [(ngModel)]="typeConvert"
                                      ngDefaultControl
                                      value="xlsx">
                        XLSX
                    </mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="submit === true && checkedTerms === false">
                    Please apply terms & conditions.
                </mat-error>
            </form>
        </div>
        <div class="convert-control">
            <button (click)="convert()" mat-raised-button [color]="'primary'">Download Final Report</button>
        </div>
    </div>
</div>