<div>
    <div class="header-wrapper">
        <span class="header">Estimation Form:</span>
        <span class="date-field">Today is {{ todayDate | date:'MMM d, y' }}</span>
        <div class="upload-block">
            <span>
                Or upload XLSX file:
                <button (click)="openFileUpload()" mat-raised-button>Upload XLSX File</button>
                <input (change)="uploadFile()" type="file" #fileInput accept=".xlsx, .xls" name="marerialList" style="display: none" />
            </span>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="spinner-background" *ngIf="uploadingFile">
        <div class="progress-bar-block">
            <mat-progress-bar [mode]="'determinate'" [value]="uploadValue"></mat-progress-bar>
            <span>Uploading...</span>
        </div>
    </div>
</div>
