<div class="header-wrapper">
    <span class="header">Estimation Form:</span>
    <span class="date-field">Today is {{ todayDate | date:'MMM d, y' }}</span>
    <div class="upload-block">
            <span>
                Or upload XLSX file:
                <app-estimation-upload></app-estimation-upload>
            </span>
    </div>
</div>
<div class="item-list">
    <app-estimation-item-form (onEdit)="editItem($event)" (onSave)="addItem($event)"></app-estimation-item-form>
    <div class="spinner" *ngIf="showSpinner">
        <mat-spinner></mat-spinner>
    </div>
    <div class="list fixed-table-container">
        <div>
            <h2 class="list-title">Material List
                <sub>
                    After compliting filling out all the items, please press to "Process Materials" to find specific items from suppliers.
                </sub>
            </h2>
            <button (click)="process()" mat-raised-button [color]="'primary'">Process Materials</button>
        </div>

        <h3 *ngIf="items.length === 0">There are no items yet.</h3>
        <table class="table table-striped"  *ngIf="items.length > 0">
            <thead>
                <tr>
                    <td>
                        Category
                    </td>
                    <td>
                        Selector
                    </td>
                    <td>
                        Description
                    </td>
                    <td>
                        Units
                    </td>
                    <td>
                        Cost
                    </td>
                    <td>

                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items; let i = index">
                    <td>
                        {{ item.category }}
                    </td>
                    <td>
                        {{ item.selector }}
                    </td>
                    <td>
                        {{ item.description }}
                    </td>
                    <td>
                        {{ item.units }} {{ item.unitType }}
                    </td>
                    <td>
                        {{ item.cost }}$ per {{ item.unitType }}
                    </td>
                    <td>
                        <button (click)="edit(item)" mat-button>Edit</button>
                        <button (click)="remove(item, i)" mat-button [color]="'warn'">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
