<div class="header-wrapper">
    <span class="header">Estimation Form:</span>
    <span class="date-field">Today is {{ todayDate | date:'MMM d, y' }}</span>
    <div class="upload-block">
            <span>
                Or upload XLSX file:
                <app-estimation-upload></app-estimation-upload>
            </span>
    </div>
</div>
<div class="item-list">
    <app-estimation-item-form (onEdit)="editItem($event)" (onSave)="addItem($event)"></app-estimation-item-form>
    <div class="spinner" *ngIf="showSpinner">
        <mat-spinner></mat-spinner>
    </div>
    <div class="list fixed-table-container">
        <div>
            <h2 class="list-title">Material List
                <sub>
                    After completing filling out all the items, please press to "Process Materials" to find specific items from suppliers.
                </sub>
            </h2>
            <button (click)="process()" mat-raised-button [color]="'primary'">Process Materials</button>
        </div>
        <div class="spinner" *ngIf="showSpinner">
            <mat-spinner></mat-spinner>
        </div>
        <app-estimation-list [items]="items" (onEdit)="edit($event)"></app-estimation-list>
    </div>
</div>
