<div class="item-list">
    <app-estimation-item-form (onSave)="addItem($event)"></app-estimation-item-form>
    <div class="spinner" *ngIf="showSpinner">
        <mat-spinner></mat-spinner>
    </div>
    <div class="list fixed-table-container">
        <h2 *ngIf="items.length === 0">There are no items yet.</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>
                        Category
                    </td>
                    <td>
                        Selector
                    </td>
                    <td>
                        Description
                    </td>
                    <td>
                        Units
                    </td>
                    <td>
                        Cost
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>
                        {{ item.category }}
                    </td>
                    <td>
                        {{ item.selector }}
                    </td>
                    <td>
                        {{ item.description }}
                    </td>
                    <td>
                        {{ item.units }} {{ item.unitType }}
                    </td>
                    <td>
                        {{ item.cost }}$ per {{ item.unitType }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>